<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html>
<html>
<head>
<title>Create Post</title>
</head>
<body>
    <div id="global">
        <form:form commandName="createPost" action="createPost" method="post" enctype="multipart/form-data" target="_blank">
            <fieldset>
                <legend>Create Post</legend>
                
                <p>
                    <label for="body">Body: </label>
                    <form:input type="text" path="description" />
                </p>
                <p>
                    <label for="image">Images: </label> 
                    <input type="file" name="images" multiple="multiple"/>
                </p>
                <p>
                    <label for="isPostToTwitter">To Twitter: </label> 
                    <input type="checkbox" name="isPostToTwitter"/>
                </p>
                <p>
                    <label for="isPostToFacebook">To Facebook: </label> 
                    <input type="checkbox" name="isPostToFacebook"/>
                </p>
                <p>
                    <label for="isPostToInstagram">To Instagram: </label> 
                    <input type="checkbox" name="isPostToInstagram"/>
                </p>
                
                <p id="buttons">
                    <input id="reset" type="reset" tabindex="4"> 
                    <input id="submit" type="submit" tabindex="5" value="Post">
                </p>
            </fieldset>
        </form:form>
    </div>
</body>
</html>