<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Post</title>
</head>
<body>
<a href="/home">Back to homepage</a>
<p>Selected file URL: <a th:href="${url}" th:text="${url}" target="_blank"></a></p>
        <form action="#" th:action="@{/createPost}" th:object="${post}" method="post" id="myform">
            <fieldset>
                <legend>Create Post</legend>
                
                <p>
                    Body: 
                    <textarea name="body" rows="5" cols="50" th:field="*{body}" form="myform"></textarea>
                </p>
                <p>
                    <label for="isPostToTwitter">To Twitter: </label> 
                    <input type="checkbox" th:field="*{postToTwitter}"/>
                </p>
                <p>
                    <label for="isPostToFacebook">To Facebook: </label> 
                    <input type="checkbox" th:field="*{postToFacebook}"/>
                </p>
                <p>
                    <label for="isPostToInstagram">To Instagram: </label> 
                    <input type="checkbox" th:field="*{postToInstagram}"/>
                </p>
                
                <p id="buttons">
                    <input id="reset" type="reset"> 
                    <input type="submit" value="Submit">
                </p>
            </fieldset>
        </form>
</body>
</html>