<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2275238089397970&autoLogAppEvents=1"></script></body>
<h1>Keepsake Home Page</h1>
<br>
<a href="/login">login</a>
<br>
<a href="/viewFiles">Upload and View saved files</a>
<br>
<a href = "https://api.instagram.com/oauth/authorize/?client_id=998318050524537&redirect_uri=http://localhost:8080&response_type=token"> Sign in with Instagram</a>
<br>
<a href = "/twitterLogin">Sign in with twitter</a>
<br>
<br>
<div class="fb-login-button" data-width="100" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true"></div>
<br>
<br>

<br>
<p>Be sure you have logged in with the platforms you plan to post to </p>
<a href = "/selectFile">Create a post</a>
<br>
<a href = "/savedPosts">View previous posts</a>
<br>
<a href = "/restoreAll">Restore all previous posts</a>
<br>
<a href="/createAccount">Create an Account</a>
<br>
<a href="/logout">Logout</a>

</html>