<html xmlns:th="http://www.thymeleaf.org">
<h1>Keepsake Home Page</h1>
<br>
<a href="http://localhost:8080/login">login</a>
<br>
<a href="http://localhost:8080/viewFiles">Upload and View saved files</a>
<br>
<a href = "https://api.instagram.com/oauth/authorize/?client_id=2275238089397970&redirect_uri=http://localhost:8080&response_type=token"> Sign in with Instagram</a>
<br>
<a href = "https://api.facebook.com/oauth/authorize/?client_id=2275238089397970&redirect_uri=http://localhost:8080&response_type=token"> Sign in with facebook</a>
<br>
<a href = "/twitterLogin">Sign in with twitter</a>
<br>
<a href="http://localhost:8080/createAccount">Create an Account</a>
<br>
<a href="http://localhost:8080/logout">Logout</a>

</html>